.container3 {
    width: 99vw;
    height: 22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-left: 10%; */
    /* border: 1px solid red; */
    margin-top: 50px;
}

.container3 dl {
    /* border: 1px solid red; */
    text-align: center;
}

.container3 dl dt img {
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
}

.container3 dl a {
    font-size: 18px;
    color: black;
}

.container3 dl video {
    display: none;
}

.container3 dl:hover video {
    display: block;
}

.container3 dl:hover a {
    color: aqua;
}