/* #footer{
    width: 100%;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}
.footer-box{
    width: 300px;
    border: 1px solid black;
    float: left;
}
.footer-box__a{
    width: 300px;
    border: 1px solid black;
    float: left;
    
}
.footer-box__a--img{
    width: 90px;
    height: 50px;
    float: left;
} */

#footer {
    width: 100%;
    display: flex;
    position: relative;
    top: 80px;
    /* margin: 4px 27%; */
    margin-left: 20%;
}

.footer-box__a {
    display: flex;
}

.footer-box p span a {
    line-height: 25px;
}